/* Add some styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }
  .header h1 {
    margin: 0;
  }

  .main-container{
    display: flex;
    flex-direction: column;
   width: 500px;
  }
  .main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .main h2 {
    margin-top: 0;
  }
  .card{
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
  }
  .card img {
    border-radius: 50%;
    height: 200px;
    margin-bottom: 20px;
    width: 200px;
  }
  .main-project {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .card-project {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  .card-project img {
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
  }


  
  
  
  
  
  